/* Đặt nền cho AnchorPane */
.anchor-pane {
    -fx-background-color: #ffffff;

}

/* VBox */
.custom-vbox {
    -fx-padding: 10, 10, 10, 10;
    -fx-spacing: 10;
}
.combo-box .list-cell:hover{
    -fx-text-fill: #333333;
    -fx-background-color: #cba4f8;

}
.combo-box .list-cell{
    -fx-text-fill: #333333;
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
}


/* HBox */
.custom-hbox {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-radius: 10;
    -fx-padding: 10px;
    -fx-background-color: #d4bee4;
}

/* ComboBox */
#cardSideChoiceBox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-padding: 5px;
    -fx-border-color: #624b6f;
    -fx-border-width: 2;
    -fx-border-radius: 15;
}

/* TextField chung */
.text-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5px;
}

/* TextField cardNameEditor */
#cardNameEditor {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10px;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-border-color: #624b6f;
    -fx-border-width: 2;
}

/* TextField cardTopicTextField */
#cardTopicTextField {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10px;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-border-color: #624b6f;
    -fx-border-width: 2;
}

/* HTMLEditor chỉnh toàn cục */
.html-editor {

    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #9b7ebd;
    -fx-border-width: 2px;
    -fx-padding: 5;
}
.button {
    -fx-font-size: 16px;
    -fx-background-color: #cba4f8;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 5px 10px;
}

.button:hover {
    -fx-background-color: #876ca1;
}
.button:selected {
    -fx-background-color: #1a1620;
}

/* Các nút bên trong HTMLEditor */
.html-editor .button {
    -fx-background-color: #cba4f8;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 5px 10px;
}

.html-editor .button:hover {
    -fx-background-color: #876ca1;
}

.html-editor .button:selected {
    -fx-background-color: #1a1620;
}

/* ToggleButton bên trong HTMLEditor */
.html-editor .toggle-button {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 5px 10px;
}

.html-editor .toggle-button:selected {
    -fx-background-color: #cba4f8;
}

.html-editor .toggle-button:hover {
    -fx-background-color: #cba4f8;
}

/* ChoiceBox bên trong HTMLEditor */
.html-editor .choice-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #9b7ebd;
    -fx-border-radius: 10;
    -fx-padding: 3px;
}

.html-editor .choice-box .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
}

.html-editor .choice-box .list-cell:selected {
    /*-fx-background-color: #d4bee4;*/
    -fx-text-fill: #333333;
}

/* ComboBox bên trong HTMLEditor */
.html-editor .combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #9b7ebd;
    -fx-border-radius: 10;
    -fx-padding: 5px;
}

.html-editor .combo-box:hover {
    -fx-border-color: #876ca1;
}

.html-editor .combo-box .arrow-button {
    -fx-background-color: #cba4f8; /* Nền mũi tên */
    -fx-background-radius: 10;
}

.html-editor .combo-box .arrow-button:hover {
    -fx-background-color: #876ca1;
}

.html-editor .combo-box .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
}
.html-editor .content {
    -fx-background-color: #ffffff; /* Nền trắng */
    -fx-background-radius: 15;     /* Bo tròn các góc của TextArea */
    -fx-border-radius: 15;         /* Bo tròn viền của TextArea */
    -fx-border-color: #9b7ebd;     /* Màu viền tím đậm */
    -fx-border-width: 1px;         /* Độ dày viền */
    -fx-padding: 10px;             /* Khoảng cách giữa nội dung và viền */
}

.html-editor .combo-box .list-cell:selected {
    /*-fx-background-color: #d4bee4;*/
    -fx-text-fill: #333333;
    -fx-background-color: #fff;
}
.html-editor .combo-box .list-cell:hover{
    -fx-text-fill: #333333;
    -fx-background-color: #cba4f8;
}
.html-editor .tool-bar{

    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-color: #fff;
    -fx-border-color: #cba4f8 ;

}
.html-editor .grid-pane {
    -fx-hgap: 10px;  /* Khoảng cách ngang giữa các cột */
    -fx-vgap: 10px;  /* Khoảng cách dọc giữa các hàng */
}
