.node{
    -fx-background-color: #ffffff;
}
.button{
    -fx-text-fill: "white";
    -fx-background-color: #9b7ebd;
    -fx-background-radius: 15;
}

.button:hover{
    -fx-background-color: #876ca1;
}
.button:selected{
    -fx-background-color: #1a1620;
}
.hbox{
    -fx-spacing: 10;
    -fx-background-radius: 10;
    -fx-padding: 30;
    -fx-background-color: #d4bee4;
}

#searchHBox{
    -fx-background-color: #d4bee4;  /* Màu nền của HBox */
    -fx-background-radius: 15;      /* Bo tròn các góc của HBox */
    -fx-border-radius: 15;
    -fx-padding: 10px;
    -fx-pref-height: 30px;
}
#topHBox{
    -fx-padding: 20px;
}

