.side_ankerpane{
    -fx-background-color: #9b7ebd;
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;

}

.inner_pane{
    -fx-background-color: #d4bee4;
    -fx-border-color: #d4bee4;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.most_inner_pane{
    -fx-background-color: #d3b8e8;
    -fx-border-color: #d4bee4;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.button_home{
    -fx-background-color:  #9b7ebd;
    -fx-text-alignment: left;
}
.button_home:hover{
    -fx-underline: true;
}

.text_input {
    -fx-border-color: #a3a1a1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.button_signup{
    -fx-background-color:  #9b7ebd;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 2, 3);
}
.button_signup:hover{
    -fx-background-color: #d4bee4;
}
.button_signup:pressed{
    -fx-background-color: #3b1e54;
}

.side_signup{
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.button_login:hover{
    -fx-underline: true;
}

.area{
    -fx-border-color: white;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 2, 3);
}

.text_trans {
    -fx-background-color: #9b7ebd;
    -fx-text-fill: white;
}

.text_profile{
    -fx-border-color: white;
    -fx-background-color: #e5ddea;
}

.button_edit {
    -fx-background-color: #d4bee4;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 2, 3);
}

.button_edit:hover{
    -fx-background-color: #9b7ebd;
}

.button_save{
    -fx-background-color: #9b7ebd;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 2, 3);
}
.button_save:hover{
    -fx-background-color: #d4bee4;
    -fx-text-fill: white;
}

.side_cf_pass{
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}